boto3
pytz
tzlocal
requests
pyaes
meinheld
gunicorn
Django
mysqlclient
redis
django-redis
django-cors-headers
django-extensions
Werkzeug
fastapi
uvicorn
sqlalchemy
pydantic
databases[mysql]
aioredis
ipython
ipython
